<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>編集画面</title>
  <style>
    .red{
      color: red;
    }
    .invalid{
      border:2px solid red;
    }
  </style>
</head>
<body>
  <h2>タスクタイプ編集</h2>
  <form th:action="@{/tasktype/update/{id}(id=${id})}" th:object="${tasktype}" method="post">
    <label>タイプ</label>
    <input type="text" th:field="*{type}" th:errorclass="invalid"><br>
    <div class="red" th:errors="*{type}"></div>

    <label>コメント</label>
    <input type="text" th:field="*{comment}" th:errorclass="invalid"><br>
    <div class="red" th:errors="*{comment}"></div>
    <button>送信</button>
  </form>
</body>
</html>